<div class="content">
  <h3 style="color: #063E58">{{'EsqueceuSenha.Title' | translate}}</h3>

  <div class="inner" style="margin-top: 25px">
    <p style="font-size: small; padding-bottom: 10px">{{'EsqueceuSenha.Subtitle' | translate}}</p>
    <input id="email" pInputText placeholder="{{'Placeholder.Email' | translate}}" type="email" class="p-inputtext p-component email">
  </div>

  <div class="botoes" style="margin-top: 25px">
    <div class="column2"><button pButton type="button" label="{{'Button.Send' | translate}}" class="enviar" routerLink="/login" routerLinkActive="active"></button></div>
    <div class="column2"><button pButton type="button" label="{{'Button.Cancel' | translate}}" class="cancelar" routerLink="/login" routerLinkActive="active"></button></div>
  </div>
</div>
