.row{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
}
.columnInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  border: #063E58 1px solid;
  border-radius: 10px;
  overflow: auto;
  height: 50vh;
  padding: 5px;
}

.column2{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column3{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10px;
  border: #063E58 1px solid;
  border-radius: 10px;
  overflow: auto;
  height: 50vh;
  padding: 5px;
}

:host ::ng-deep .p-inputtext{
  border-color: #063E58;
}
:host ::ng-deep .p-inputtext:hover {
  border-color: #063E58;
}

:host ::ng-deep .p-inputtext:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  border-color: #063E58;
}

.botao, .botao:hover, .botao:focus{
  color: #ffffff;
  background-color: #063E58;
  border-color: #063E58;
  align-content: center;
  font-weight: bold;
  margin-right: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.botao2, .botao2:hover, .botao2:focus{
  color: #063E58;
  background-color: #ffffff;
  border-color: #063E58;
  align-content: center;
  font-weight: bold;
  margin-right: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.botao3, .botao3:hover, .botao3:focus {
  align-content: center;
  background-color: #ffffff;
  color: black;
  border: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.info {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.card {
  width: 100%;
}

.title{
  color: #063E58;
  font-weight: bold;
  font-size: large;
}

.title2{
  color: #063E58;
  font-weight: bolder;
  margin-right: 10px;
  font-size: large;
}

.large{
  font-size: large;
}

.larger{
  font-size: larger;
}

.bold{
  font-weight: bold;
}

.text {
  color: #063E58;
  font-weight: bold;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.list-item{
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  padding: 10px;
  border: #063E58 1px solid;
  border-radius: 10px;
}

.list-detail{
  display: flex;
  flex-direction: row;
}

.dataView {
  margin-top: 7vh;
}

.spacer {
  flex: 1;
}

.example {
  display: flex;
  overflow-wrap: break-word;
}

.catInfo {
  display: flex;
  flex-direction: column;
}
.bagInfo {
  display: flex;
  flex-direction: column;
}
.patInfo {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight, .p-paginator .p-paginator-pages .p-paginator-page.p-highlight:focus{
  background-color: #ffffff;
  color: #063E58;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

:host ::ng-deep .p-dataview .p-dataview-content{

}
:host ::ng-deep .p-dataview{
  width: 40vw;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr{
  outline-color: #063E58;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr.p-highlight{
  background-color: #ffffff;
  color: #063E58;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #063E58;
  border-radius: 10px;
}

