h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.title{
  text-align: center;
  color: #063E58;
}

.title2{
  text-align: center;
  font-size: larger;
  color: #063E58;
  font-weight: bold;
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 90vw;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columnDataView{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
}

.linha {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.linhaAltura {
  height: 50vh;
}

.botao, .botao:hover, .botao:focus{
  color: #ffffff;
  background-color: #063E58;
  border-color: #063E58;
  align-content: center;
  font-weight: bold;
  margin-right: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.botao2, .botao2:hover, .botao2:focus{
  color: #063E58;
  margin: 3px;
  background-color: #ffffff;
  border-color: #063E58;
  align-content: center;
  font-weight: bold;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.spacer{
  flex: 1;
}

.border{
  border-radius: 10px;
  border: 1px solid #063E58;
}

.bottom-border{
  border-bottom: 1px solid #063E58;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: row;
  margin-left: 15px;
  padding: 5px;
}

.card-content{
  flex: 1;
  flex-direction: column;
}

.rows{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.container-catalogos{
  width: 60vw;
  display: flex;
  height: 40vh;
  margin-right: 2vw;
  padding: 15px;
}

.align{
  align-items: center;
}

.container-especificacoes{
  width: 30vw;
  display: flex;
  height: 40vh;
  padding: 5px;
}

.list-item{
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  padding: 10px;
  border: #063E58 1px solid;
  border-radius: 10px;
}

.list-detail{
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight, .p-paginator .p-paginator-pages .p-paginator-page.p-highlight:focus{
  background-color: #ffffff;
  color: #063E58;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

:host ::ng-deep .p-dataview .p-dataview-content{
  height: 80%;
}
:host ::ng-deep .p-dataview{
  height: 27vh;
  width: 100%;
}






